html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h2 {
  font-size: 3rem;
  display: inline;
  font-family: "Roboto Condensed", sans-serif;
}

p {
  font-size: 1.5rem;
}

.banner {
  max-height: 500px;
  position: relative;
}

.placeholder {
  width: 100%;
  display: block;
  overflow: hidden;
}

.content {
  padding: 0;
  width: 100%;
  max-width: 50em;
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  left: 60%;

}

.mecha {
  width: 100%;
}

.text {
  align-items: center;
}

.btn {
  display: inline-block;
  text-decoration: none;
  background-color: #333;
  color: #fff;
}

.btn-big {
  font-size: 1.5rem;
}

.btn:hover {
  background-color: #000;
}
